<div *ngIf="catalog">
  <img [src]="catalog.img">
  <ion-item>
      <h4> {{ catalog.name }} </h4>
      <ion-button fill="outline" slot="end" >{{ catalog.price }} EUR</ion-button>
  </ion-item>
  <div class="container">
    <h6>Colores disponibles:</h6>
    <ion-row>
      <ion-col size="2" *ngFor="let color of catalog.colors">
    
        <div [ngClass]="{'color-green':color==='Verde', 
        'color-blue':color==='Azul',
        'color-pink':color==='Rosada',
        'color-gray':color==='Negra',
        'color-red':color==='Roja'}"
        class="circle"> </div>
      </ion-col>
      
    </ion-row>
  </div>
</div>
