<div class="menu-secondary">
  <ion-row>
    <ion-col size="9">
       
      

      <ion-item>
        <ion-label>Filtrar por</ion-label>
        <ion-select interface="popover" class="custom-options" (ionChange)="filter( $event )">
          <ion-select-option  *ngFor="let cat of categories" [value]="cat">{{ cat }} </ion-select-option>
        </ion-select>
      </ion-item>



    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <ion-row>
        <ion-col size="6">
          <ion-icon name="list-outline" class="ligth-color size-icons" (click)="showAs(12)"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-icon name="grid-outline" class="ligth-color size-icons" (click)="showAs(6)"></ion-icon>
        </ion-col>
       
      </ion-row>
   </ion-col>
  </ion-row>
</div>

<ion-row>
  <ion-col [size]="size" *ngFor="let cat of catalog">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ cat.name }}</ion-card-title>
        <ion-card-subtitle>{{ cat.price }} EUR</ion-card-subtitle>
        
      </ion-card-header>
      <ion-card-content>
        <img [src]="cat.img">
      </ion-card-content>
      <ion-item>
        <ion-button fill="outline" slot="end" (click)="openDeatil(cat.id)">Ver</ion-button>
      </ion-item>
    </ion-card>
  </ion-col>
</ion-row>

