<ion-row>
  <ion-col [size]="size" *ngFor="let cat of history">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ cat.name }}</ion-card-title>
        <ion-card-subtitle>{{ cat.price }} EUR</ion-card-subtitle>
        
      </ion-card-header>
      <ion-card-content>
        <img [src]="cat.img">
      </ion-card-content>
      <ion-item>
        <ion-button fill="outline" slot="end" (click)="openDeatil(cat.id)">Ver</ion-button>
      </ion-item>
    </ion-card>
  </ion-col>
</ion-row>
