/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-menu-button {
    color: var(--ion-color-primary);
}

.menu-secondary{
  background-color: #222;
  width: 100%;
  padding: 10px;
}
  
.ligth-color{
  color: rgb(95, 95, 95);
}
.size-icons{
  font-size: 25px;
  margin-top: 5px;
}

.container{
  padding: 15px;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.color-red{
  background: rgb(177, 37, 37);
}

.color-pink{
  background: rgb(202, 53, 127);
}

.color-blue{
  background: rgb(75, 37, 212);
}

.color-gray{
  background: rgb(65, 65, 65);
}

.color-green{
  background: rgb(105, 214, 33);
}