<form [formGroup]="rent" (ngSubmit)="onSubmit()" novalidate>

  <ion-item lines="full">
    <ion-label position="floating">Nombres</ion-label>
    <ion-input formControlName="firstName" type="text"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.firstName.errors?.required">
    El nombres es requerido
  </span>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.firstName.errors?.minlength">
      Debe contener mas de 3 caracteres
  </span>

  <ion-item lines="full">
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input formControlName="lastName" type="text"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.lastName.errors?.required">
    El nombres es requerido
  </span>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.lastName.errors?.minlength">
      Debe contener mas de 3 caracteres
  </span>




  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" type="email"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
    Email es requerido.
  </span>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
    Email no es válido.
  </span>

  <ion-item>
    <ion-label>Bicicleta</ion-label>
    <ion-select formControlName="category">
      <ion-select-option *ngFor="let cat of categories" [value]="cat.name" >{{cat.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.category.errors?.pattern">
    Numeros permitidos
  </span>


  <ion-item lines="full">
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input maxlength="10" formControlName="phone" type="text" required></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.errors?.required">
    Teléfono es requerido
  </span>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.errors?.pattern">
    Numeros permitidos
  </span>


  <ion-item lines="full">
    <ion-label position="floating">Fecha Inicio</ion-label>
    <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc" required formControlName="startDate"></ion-datetime>
  </ion-item>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.startDate.errors?.required">
    Seleccione una fecha
  </span>

  <ion-item lines="full">
    <ion-label position="floating">Fecha Final</ion-label>
    <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc" required formControlName="endDate"></ion-datetime>
  </ion-item>
  <span class="error ion-padding" *ngIf="submitted && errorCtr.endDate.errors?.required">
    Seleccione una fecha
  </span>
 



  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block">Alquilar</ion-button>
    </ion-col>
  </ion-row>

</form>